env/
week-3/day-15/myportfolio/db.sqlite3
week-3/day-16/mysite/db.sqlite3
week-3/day-16/mysite/mysite/__pycache__
week-3/day-16/mysite/blog/__pycache__
week-3/day-16/mysite/blog/migrations
week-3/day-17/mysite/mysite/__pycache__/__init__.cpython-312.pyc
week-3/day-17/mysite/mysite/__pycache__/settings.cpython-312.pyc
week-3/day-17/mysite/blog/migrations/__init__.py
